<div  class="col-md-6 col-md-offset-3">
    <h2 >Author Name: {{currentUser.lastName}}</h2><p align="right"><a  [routerLink]="['/login']">Logout</a></p>
   <p align="right"> <button type="submit" class="btn btn-default" style="background-color:aqua">create</button></p><br><br>
<h3 align="left">TITLE</h3><br><textarea name="title" rows="5" cols="50"></textarea><br><br>
<h3 align="left">Content</h3><br>
<textarea name="article" rows="50" cols="60"></textarea>
    <p align="right" > <button type="submit" class="btn btn-default" style="background-color:aqua">post</button></p><br><br>

</div>